 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

<div class="container">

    <h1>Dashboard </h1>

    <div id="chart_div"></div>
    <div id="chart_div2"></div>

</div>

<script type="text/javascript">


    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(LoadDataColumn);
  
    function LoadDataColumn() {
     

        $.ajax({
            url: "http://localhost:61598/api/city",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Access-Control-Allow-Origin': '*',
                'Content-Type': 'application/json'
            },
            method: 'GET',
            dataType: 'json',
            data: '',
            success: function (response) {
                PopulationChartColumn(response);
                PopulationChartLine(response);
               
                return false;
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;

    }


    function PopulationChartColumn(data) {
        var dataArray = [
            ['Região', '2020','2019', '2018']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.region, item.populationYear2020, item.populationYear2019, item.populationYear2018]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'População Brasil(Cidade) ',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'Quantidade Populacão',
                minValue: 0
            },
            vAxis: {
                title: 'Total'
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        return false;
    }

    function PopulationChartLine(data) {
        var dataArray = [
            ['Região', '2020', '2019', '2018']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.region, item.populationYear2020, item.populationYear2019, item.populationYear2018]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'População Brasil(Cidade) ',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'Quantidade Populacão',
                minValue: 0
            },
            vAxis: {
                title: 'Total'
            }
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div2'));

        chart.draw(data, options);
        return false;
    }
</script> 