 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

<div class="container">

    <h1>Dashboard </h1>

    <div id="chart_div"></div>
    <div id="chart_div2"></div>

</div>

<script type="text/javascript">


    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(LoadDataColumn);
  
    function LoadDataColumn() {
     

        $.ajax({
            url: "http://localhost:61598/api/city/regiao",
            contentType: "application/json; charset=utf-8",
            headers: {
                'Access-Control-Allow-Origin': '*',
                'Content-Type': 'application/json'
            },
            method: 'GET',
            dataType: 'json',
            data: '',
            success: function (response) {
                PopulationChartColumn(response);
                PopulationChartLine(response);
               
                return false;
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;

    }


    function PopulationChartColumn(data) {
        var dataArray = [
            ['Titulo', 'Quatidade']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.title, item.qtd]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            // style column
            {
                calc: function (dt, row) {
                    if ((dt.getValue(row, 1) >= 0) && (dt.getValue(row, 1) <= 201)) {
                        return 'red'; 
                    } else if ((dt.getValue(row, 1) > 201) && (dt.getValue(row, 1) <= 279)) {
                        return 'yellow';
                    } else if ((dt.getValue(row, 1) > 279) && (dt.getValue(row, 1) <= 516)) {
                        return 'blue';
                    } else if ((dt.getValue(row, 1) > 516) && (dt.getValue(row, 1) <= 569)) {
                        return 'orange';
                    } else {
                        return 'green';
                    }
                },
                type: 'string',
                role: 'style'
            },
            // annotation column
            {
                calc: 'stringify',
                sourceColumn: 1,
                type: 'string',
                role: 'annotation'
            }
        ]);

        var options = {
            title: '',
            titleTextStyle: {
                fontSize: 16,
                bold: true
            },
            backgroundColor: 'transparent',
            chartArea: {
                left: 80,
                top: 30,
                bottom: 60,
                right: 10
            },
            legend: {
                textStyle: {
                    fontSize: 11
                }
            },
            vAxis: {
                title: '',
                textStyle: {
                    fontName: 'Arial',
                    fontSize: 10
                },
                titleTextStyle: {
                    fontSize: 12,
                    italic: false,
                    bold: true
                }
            },
            hAxis: {
                title: 'Total Cidades Por Região',
                gridlines: {
                    count: 22
                },
                textStyle: {
                    fontName: 'Arial',
                    fontSize: 11
                },
                titleTextStyle: {
                    fontSize: 12,
                    italic: false,
                    bold: true
                }
            },
            pointSize: 3,
            pointShape: 'circle',
            annotations: {
                alwaysOutside: true,
                textStyle: {
                    fontName: 'Arial',
                    fontSize: 9,
                    color: '#000000',
                    opacity: 1
                }
            }
        };

        var chartDiv = document.getElementById('chart_div');
        var chart = new google.visualization.BarChart(chartDiv);
        chart.draw(view, options)
        return false;
    }

    function PopulationChartLine(data) {
        var dataArray = [
            ['Titulo', 'Quatidade']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.title, item.qtd]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            // style column
            {
                calc: function (dt, row) {
                    if ((dt.getValue(row, 1) >= 0) && (dt.getValue(row, 1) <= 201)) {
                        return 'red';
                    } else if ((dt.getValue(row, 1) > 201) && (dt.getValue(row, 1) <= 279)) {
                        return 'yellow';
                    } else if ((dt.getValue(row, 1) > 279) && (dt.getValue(row, 1) <= 516)) {
                        return 'blue';
                    } else if ((dt.getValue(row, 1) > 516) && (dt.getValue(row, 1) <= 569)) {
                        return 'orange';
                    } else {
                        return 'green';
                    }
                },
                type: 'string',
                role: 'style'
            },
            // annotation column
            {
                calc: 'stringify',
                sourceColumn: 1,
                type: 'string',
                role: 'annotation'
            }
        ]);

        var options = {
            title: '',
            titleTextStyle: {
                fontSize: 16,
                bold: true
            },
            backgroundColor: 'transparent',
            chartArea: {
                left: 80,
                top: 30,
                bottom: 60,
                right: 10
            },
            legend: {
                textStyle: {
                    fontSize: 11
                }
            },
            vAxis: {
                title: '',
                textStyle: {
                    fontName: 'Arial',
                    fontSize: 10
                },
                titleTextStyle: {
                    fontSize: 12,
                    italic: false,
                    bold: true
                }
            },
            hAxis: {
                title: 'Total Cidades Por Região',
                gridlines: {
                    count: 22
                },
                textStyle: {
                    fontName: 'Arial',
                    fontSize: 11
                },
                titleTextStyle: {
                    fontSize: 12,
                    italic: false,
                    bold: true
                }
            },
            pointSize: 3,
            pointShape: 'circle',
            annotations: {
                alwaysOutside: true,
                textStyle: {
                    fontName: 'Arial',
                    fontSize: 9,
                    color: '#000000',
                    opacity: 1
                }
            }
        };

        var chartDiv = document.getElementById('chart_div2');
        var chart = new google.visualization.PieChart(chartDiv);
        chart.draw(view, options)
        return false;
    }
</script> 